@font-face {
  font-family: 'Marcellus SC';
  src: url('./fonts/MarcellusSC-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.ttf');
}

.fulcron-blue {
  background-color: #002d40 !important;
}

.text-fulcron-blue {
  color: #002d40 !important;
}

.fulcron-font {
  font-family: 'Marcellus SC', serif;
  font-weight: normal;
  font-style: normal;
}
